@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui";

@theme {
    --font-display: "Satoshi", "sans-serif";
    
    --color-company: #2D3292;
    --color-defaultBG: #f0f0f0;

    /* ... */
  }
